<div class="image-container">
  <img src="https://e3.365dm.com/21/07/2048x1152/skynews-pwc-london_5449772.jpg?20210717092627" alt="Italian Trulli"
    style="width:100%;height:100%;">
  <div class="overlay">
    <div class="item">Oil And Gas</div>
    <div class="item">Hospitality and Leisure</div>
    <div class="item">Power and Utilities</div>
    <div class="item">Pharmaceutical and Life Sciences</div>
    <div class="item">Chemicals</div>
    <!-- Add more divs for additional items -->
  </div>
</div>