
<div class="container">
  <div class="row">
    <div class="col">
      <img src="https://www.pwc.co.nz/industry-expertise/energy-and-mining/oil-and-gas.jpg"
      alt="Italian Trulli" style="width:100%;height:100%;">
    </div>
    <div class="col">
      <img src="https://www.pwc.com/us/en/industries/assets/eum-digitizing-future-oil.png"
      alt="Italian Trulli" style="width:100%;height:100%;">

    </div>
  </div><br><br><br>
  <div class="row" style="background-color: orange;">
    <p>Imagine a world with security at the epicenter of innovation — the field where bright ideas and bold ambitions flourish. Imagine the CISO right there, working to secure the organisation’s lofty ambitions and prized assets.</p>
    
  </div>
  <br><br><br>
  
  <div class="row" style="background-color: pink;">
    <img src="../../../assets/LNGImage.png"
      alt="Italian Trulli" style="width:100%;height:100%;">
    
  </div>
  <br><br><br>
  <div class="row">
    <div class="col">
      <img src=" https://img.luxtimes.lu/public/luxembourg/sylyw7-pwc-london-office-photo-shutterstock/alternates/BASE_SIXTEEN_NINE/PwC%20London%20office%20Photo:%20Shutterstock"
      alt="Italian Trulli" style="width:100%;height:100%;">
     
    </div>
    <div class="col">
      <img src="https://www.pwc.com/gx/en/energy-utilities-mining/assets/road-ahead/PWC_Energy-Utilities-PDF_ex5.jpg"
      alt="Italian Trulli" style="width:100%;height:100%;">
    </div>
    <div class="col">
      <img src="https://www.pwc.com/us/en/services/consulting/cybersecurity-risk-regulatory/library/global-digital-trust-insights/dti-website-top-5-text.svg"
      alt="Italian Trulli" style="width:100%;height:100%;">
    </div>
  </div>
</div>