<div style="background-color: antiquewhite;padding:5%">
    <title>Building Trust for Today and Tomorrow</title>




    <h2>Building Trust for Today and Tomorrow</h2>

    <p>Our purpose—to build trust in society and solve important problems—is at the core of everything we do. It
        guides how we serve our clients, our people, and the world. To help our clients build trust and deliver
        sustained outcomes, PwC provides professional services across two segments: Trust Solutions and Consulting
        Solutions. Within these segments, we bring a range of capabilities to help organizations solve faster, solve
        more, and realize more value. These capabilities include cloud and digital, deals, ESG, cybersecurity and
        privacy, governance/boards, risk, transformation, tax services, and much more. Across our global network of
        nearly 328,000 professionals in 152 countries, we are committed to advancing quality in everything we do.
    </p>
    <h2>Our FY24 Purpose and Inclusion Report</h2>

    <p>In this year’s Purpose and Inclusion report, we share how we’re advancing against our aspirations and how
        together with our people, our clients, nonprofits, and coalitions of our peers, we’ve navigated unprecedented
        times with care, understanding, empathy, and trust. We’ve experimented with innovative and bold solutions
        focused on action. We are not yet where we want to be, but our community of solvers is doubling down to build on
        our progress — and our purpose.</p>
    <h2>Contributors</h2>
    <h5>Tushar Kant Tiwari</h5>
    <p>Senior Manager, Insights Factory- Energy</p>
    <h5>Harsh Kapoor</h5>
    <p>Manager, Insights Factory- Energy</p>
</div>