
<div style="background-color: antiquewhite; padding:3%">
    <h1>LNG Value Chain</h1>
    <p>
        The whitepaper tries to analyze the varying trends and bring comprehensive view on the changing business environment in LNG value chain. The paper brings insights into the global supply and demand of LNG, different factors influencing natural gas supply and demand dynamics and tries to identify reasons for increasing LNG demand that help in deciding where to build LNG liquefaction terminal and regasification terminal. 
The most critical for any business is to secure the revenue or return on the investments. Building an LNG liquefaction terminal is a capital-intensive project so securing the revenue is inevitable for the project's viability. LNG is like other commodities traded on long-term, short-term, and spot contracts. The paper will bring insights into how the companies in the LNG terminal business secure the LNG offtake for their terminals and highlight how the tenure of offtake agreements changes over the years. Traders and portfolio companies have different views on the contract and its tenure, and accordingly, they operate and conclude the contracts.
Decision on LNG pricing is critical and mostly not in the control of the energy companies. The paper brings insights into the pricing trends in different markets and highlights how LNG prices in different regions give an arbitrage opportunity. 
The decision on capital structure while building an LNG liquefaction terminal is critical. The paper discusses the debt-to-equity percentage companies keep and showcases the trends. The financial institutions also influence the decision on capital structure. The analysis helps in deciding what capital structure to keep for companies planning to invest in LNG terminals.
The major commercial models prevalent in the LNG liquefaction terminal business are portfolio, merchant, and tolling. The paper discusses the complete analysis of commercial models and analyzes the IRR (Internal rate of return) companies can expect in each model. The paper also discusses the sensitivity analysis of each commercial model on changing variables such as capital structure (debt/equity), contracts (long-term and short-term), and LNG pricing. The analysis can help energy companies investing in LNG liquefaction terminals by providing IRR range in varying parameters.
Finally, the paper highlights the opportunities for energy companies at different points in the LNG value chain with changing trends and helps them make investment decisions. The paper also tries to align the PwC solutions for the companies in the LNG business.

    </p>
    <img src="../../../assets/lngTerminal.png"
      alt="Italian Trulli" style="width:100%;height:100%;">
    <h1>Calculation of Profit After Tax (PAT) and Internal Rate of Return (IRR)</h1>

    <div class="container">
      <div class="section">
        <h2>Profit After Tax (PAT)</h2>
        <p>Profit After Tax (PAT) is a key measure of a company's net income after accounting for taxes. It represents the actual earnings available to shareholders after deducting all expenses, including taxes.</p>
        <ol>
          <li><strong>Calculate Gross Profit:</strong> Start by determining the gross profit of the company, which is the revenue minus the cost of goods sold (COGS).</li>
          <li><strong>Deduct Operating Expenses:</strong> Subtract all operating expenses from the gross profit to arrive at the operating profit.</li>
          <li><strong>Account for Taxes:</strong> Deduct the taxes owed by the company from the operating profit to calculate the Profit Before Tax (PBT).</li>
          <li><strong>Calculate Profit After Tax:</strong> Finally, deduct the taxes from the Profit Before Tax (PBT) to arrive at the Profit After Tax (PAT).</li>
        </ol>
      </div>
     
    </div>
    
    <div class="container">
     
      <div class="section">
        <h2>Internal Rate of Return (IRR)</h2>
        <p>Internal Rate of Return (IRR) is a critical metric used to assess the profitability of an investment by calculating the discount rate at which the net present value (NPV) of cash flows equals zero.</p>
        <ol>
          <li><strong>Estimate Cash Flows:</strong> Determine the expected cash flows generated by the investment over its lifetime.</li>
          <li><strong>Set Up the IRR Equation:</strong> The IRR equation sets the net present value (NPV) of the cash flows equal to zero.</li>
          <li><strong>Use Iterative Methods or Financial Tools:</strong> Since the IRR equation cannot be solved algebraically, iterative methods or financial software/tools are commonly used to calculate IRR.</li>
          <li><strong>Interpret the IRR:</strong> Once the IRR is calculated, interpret the result to determine the attractiveness of the investment.</li>
        </ol>
      </div>
    </div>

    <h2>LNG Export Projects</h2>
<h5>Conoco Phillips plans to double its LNG portfolio over the decade. Optimized long-term and spot-offtake volumes coupled with the sale of feed gas may drive the topline. </h5>
<table>
  <tr>
    <th>LNG Export Projects</th>
    <th>COP’s equity %</th>
    <th>COP’s LNG portfolio exposure (mtpa)</th>
    <th>Comments</th>
    <th>2023E</th>
    <th>2028P</th>
    <th>2032P</th>
  </tr>
  <tr>
    <td>APLNG</td>
    <td>49.9 %</td>
    <td>4.35</td>
    <td>COP plans to be an upstream operator and acquire a considerable stake. Its stake in APLNG is expected to be ~50% by Q2’23. Around 90% of the project volumes are under a long-term contract.</td>
    <td>4.35</td>
    <td>4.35</td>
    <td>4.35</td>
  </tr>
  <tr>
    <td>Qatargas 3</td>
    <td>30 %</td>
    <td>2.65</td>
    <td>The project supplies gas to Asia and Europe.</td>
    <td>2.65</td>
    <td>2.65</td>
    <td>2.65</td>
  </tr>
  <tr>
    <td>Qatargas (NFE/NFS)-gas field</td>
    <td>6.25%</td>
    <td>-</td>
    <td>COP to acquire a 6.25% stake in Qatar North Field South (NFS) gas project, out of a total 25% interest available for international players.</td>
    <td>-</td>
    <td>2.0</td>
    <td>2.0</td>
  </tr>
  <tr>
    <td>Port Arthur LNG (phase 1)</td>
    <td>30 %</td>
    <td>-</td>
    <td>Port Arthur (phase 1) is fully subscribed (weighted average of contract ~19 years). COP contracted for 50% of the offtake volume (5.5 mtpa) and would supply gas for the entire project. COP aims to spend $3.7 billion over the next 10 years to increase output, with $1.9 billion earmarked for Port Arthur LNG.</td>
    <td>-</td>
    <td>5.5</td>
    <td>5.5</td>
  </tr>
  <tr>
    <td>Total</td>
    <td></td>
    <td>7.0</td>
    <td>14.5</td>
    <td>14.5</td>
    <td>14.5</td>
  </tr>
</table>

<h2>Capital Investment, Debt-to-Equity Ratio, and Percentage Stake Purchased</h2>

<table>
  <tr>
    <th>Description</th>
    <th>Values</th>
    <th>Units</th>
    <th>Comments</th>
  </tr>
  <tr>
    <td>Project Construction Cost (Capex per tonne)</td>
    <td>1,000</td>
    <td>$/t</td>
    <td></td>
  </tr>
  <tr>
    <td>LNG Project Capex</td>
    <td>9</td>
    <td>$B</td>
    <td></td>
  </tr>
  <tr>
    <td>Overall Debt Financing</td>
    <td>70%</td>
    <td>%</td>
    <td></td>
  </tr>
  <tr>
    <td>Overall Equity Portion</td>
    <td>30%</td>
    <td>%</td>
    <td></td>
  </tr>
  <tr>
    <td>Equity - Shareholder 1 (Operator)</td>
    <td>70%</td>
    <td>%</td>
    <td></td>
  </tr>
  <tr>
    <td>Equity - Shareholder 2</td>
    <td>30%</td>
    <td>%</td>
    <td></td>
  </tr>
  <tr>
    <td>Cost of Debt (Interest Rates)</td>
    <td>5%</td>
    <td>%</td>
    <td></td>
  </tr>
  <tr>
    <td>Cost of Equity (Returns)</td>
    <td>15%</td>
    <td>%</td>
    <td></td>
  </tr>
  <tr>
    <td>Equity Investments (70% Equity)</td>
    <td>1.89</td>
    <td>$B</td>
    <td></td>
  </tr>
  <tr>
    <td>Equity Investments (30% Equity)</td>
    <td>0.81</td>
    <td>$B</td>
    <td></td>
  </tr>
  <tr>
    <td>Debt Investment</td>
    <td>6.3</td>
    <td>$B</td>
    <td></td>
  </tr>
</table>

<h2>Income Statement of the Independent LNG Liquefaction Terminal</h2>

<table>
  <tr>
    <th>Description</th>
    <th>Values</th>
    <th>Units</th>
    <th>Comments</th>
  </tr>
  <tr>
    <td>Total Revenue from Natural Gas Sales (1)</td>
    <td>0</td>
    <td>$B</td>
    <td>LNG liquefaction terminal is not selling gas, rather purchase the gas as per gas purchase agreement.</td>
  </tr>
  <tr>
    <td>LNG Prices (Henry Hub) (2)</td>
    <td>645</td>
    <td>$/t</td>
    <td>The average export price US (2022) - $12.4/MMBtu</td>
  </tr>
  <tr>
    <td>Total Revenue (1+2) to Operator (3)</td>
    <td>5.8</td>
    <td>$B</td>
    <td>Revenue generated by the project owner</td>
  </tr>
  <tr>
    <td>Cost of Natural Gas (COGS)</td>
    <td>335</td>
    <td>$/t</td>
    <td>Price of NG (Henry Hub) $6.4/MMBtu</td>
  </tr>
  <tr>
    <td>Liquefaction Costs</td>
    <td>105</td>
    <td>$/t</td>
    <td>The unit costs of LNG liquefaction range considered $2MMBtu</td>
  </tr>
  <tr>
    <td>Expenses (COGS + Liquefaction) (4)</td>
    <td>3.96</td>
    <td>$B</td>
    <td>Expenses incurred for NG feedstock and Liquefaction costs</td>
  </tr>
  <tr>
    <td>Pipeline Transportation Costs</td>
    <td>0</td>
    <td>$/t</td>
    <td></td>
  </tr>
  <tr>
    <td>Other Opex Costs (SG&A etc.)</td>
    <td>0.36</td>
    <td>$B</td>
    <td>Assuming 4% of the capex as per the industry prevalent rate</td>
  </tr>
  <tr>
    <td>Total Costs (Opex + COGS) (4)</td>
    <td>4.32</td>
    <td>$B</td>
    <td></td>
  </tr>
  <tr>
    <td>EBITDA (5)</td>
    <td>1.48</td>
    <td>$B</td>
    <td></td>
  </tr>
  <tr>
    <td>D&A Costs (6)</td>
    <td>0.23</td>
    <td>$B</td>
    <td>Average life 40 years - SLM</td>
  </tr>
  <tr>
    <td>EBIT (7)</td>
    <td>1.2</td>
    <td>$B</td>
    <td></td>
  </tr>
  <tr>
    <td>Interest Expenses (8)</td>
    <td>0.32</td>
    <td>$B</td>
    <td>Assuming 5% interest rate per annum</td>
  </tr>
  <tr>
    <td>Tax Expenses</td>
    <td>0.24</td>
    <td>$B</td>
    <td>Corporate tax rate 25%</td>
  </tr>
  <tr>
    <td>PAT</td>
    <td>0.71</td>
    <td>$B</td>
    <td>Assuming ~30% returns to equity shareholders </td>
</tr></table>




    </div>