<div>
<div class="register-form">
  <span class="border">
     <div class="row h-100 justify-content-center align-items-center" style="font-weight: 600;font-size: large;">Project Viability</div>
     <br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col">
          Pat for LNG Terminal:
        </div>
        <div class="col">
          ${{patForLNGTerminal()}}B 
        </div>
      </div>
      <div class="row">
        <div class="col">
          Pat for Integrated Model:
        </div>
        <div class="col">
          ${{patForIntegrated()}}B
        </div>
      </div>
      <div class="row">
        <div class="col">
          IRR for Integrated Model:
        </div>
        <div class="col">
          {{calculateIRRForIntegratedModel()}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Pat for Tolling and Merchant:
        </div>
        <div class="col">
          ${{patForTollingAndmerchant()}}B
        </div>
      </div>
      <div class="row">
        <div class="col">
          IRR for Tolling and Merchant:
        </div>
        <div class="col">
          {{calculateIRRForTollingAndMerchant()}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Pat for Tolling:
        </div>
        <div class="col">
         $ {{patforTolling()}}B
        </div>
      </div>
      <div class="row">
        <div class="col">
          IRR for Tolling:
        </div>
        <div class="col">
          {{calculateIRRForTolling()}}
        </div>
      </div>
      
    </div>
    
  </span>
</div></div>